<app-navbar></app-navbar>

<div class="container mt-5 text-center">
  <h2>Products</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Coca Cola</td>
        <td>Bebida con azucar</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Aceite 'Natura'</td>
        <td>Bebida aceitosa</td>
      </tr>
    </tbody>
  </table>
</div>
