<div class="wrapper">
  <div class="body">
    <img class="logo" src="../../../assets/img/iniciar-sesion.png" />

    <h1>Login</h1>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="ingrese usuario" />
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" placeholder="Password" />
    </div>

    <div class="d-grip gap-2">
      <button type="button" class="btn btn-primary btn-lg mt-2">Login</button>
    </div>
  </div>
</div>
